.user-box {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .user-name {
    width: 128px;
    height: 45px;
    font-size: 18px;
    text-align: center;
    color: #cca700;
  }
}